$DesaturatedDarkCyan: hsl(180, 29%, 50%);
$LightGrayishCyan: hsl(180, 52%, 96%); //Background
$LightGrayishCyanTablets: hsl(180, 31%, 95%); // Filter Tablets
$DarkGrayishCyan: hsl(180, 8%, 52%);
$VeryDarkGrayishCyan: hsl(180, 14%, 20%);
